table {
    background-color: grey;
}

table, td, th {
    border: 1px solid red;
    border-collapse: collapse;
}

th {
    font-size: xx-large;
}

.head {
    font-size: x-large;
}

button {
    background-color: black;
    color: greenyellow;
}