<div class="container">
    <table>
        <tr>
            <td><input matInput type="email" placeholder="Email-cím" [formControl]="email" /></td>
        </tr>
        <tr>
            <td><input matInput type="password" placeholder="Jelszó" [formControl]="password" /></td>
        </tr>
    </table>
    <div>
        <button class="login-buttons" mat-button (click)="onLogin()">Bejelentkezés</button><br>
        <button class="login-buttons" mat-button (click)="onBack()">Vissza</button>
    </div>
</div>